﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Home.aspx.cs" Inherits="Study_Guide.WebForm4" %>

<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
           <div class="jumbotron">
        <h1>Welcome to my Study Guide!</h1>


        </div>
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="MainContent2" runat="server">
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="MainContent3" runat="server">
</asp:Content>
<asp:Content ID="Content5" ContentPlaceHolderID="MainContent4" runat="server">
</asp:Content>
